PORT=4010
GITHUB_OWNER=SteadEvent7
GITHUB_REPO=pharmadesk
GITHUB_TOKEN=
PUBLIC_BASE_URL=http://127.0.0.1:4010
RELEASE_ASSET_NAME=PharmaDeskSetup.exe
RELEASE_ASSET_EXTENSION=.exe
RELEASE_PATCH=0
DOWNLOAD_VIA_SERVICE=true